.button{
  width: 100%;
  margin-top: 20px;
}
li{
  position: relative;
  &:hover .delete{
    margin: 0;
  }
}
span.delete{
  position: absolute;
  right: 0;
  background: rgba(196, 0, 0, 0.7);
  &:after{
    content: none;
  }
}
